<!-- container -->
<div class="main">
  <div id="main-bar-side">
    <!-- toolbar -->
    <mat-toolbar id="main-page-toolbar" class="main-page-toolbar" color="primary">
      <div class="example-sidenav-content">
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>view_list</mat-icon></button>
      </div>
      <div id="tool-bar-icon">
        <mat-icon>library_music</mat-icon>
        <span>Spotify Quiz</span>
      </div>
    </mat-toolbar>
  </div>
  <div id="main-content-side">
    <!-- sidebar -->
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="sidebar-content">
          <button mat-stroked-button class="nav-item nav-link" routerLink="/" *ngIf="service.$home_visible | async">{{home_button}}</button>
          <button mat-stroked-button class="nav-item nav-link" routerLink="/login" *ngIf="service.$log_visible | async">{{login_button}}</button>
          <button mat-stroked-button class="nav-item nav-link" routerLink="/register" *ngIf="service.$reg_visible | async">{{register_button}}</button>
          <button mat-stroked-button class="nav-item nav-link" routerLink="/browse" *ngIf=""></button>
          <button mat-stroked-button class="nav-item nav-link" routerLink="/" (click)="sign_out()" *ngIf="service.$out_visible | async">{{sign_out_button}}</button>
        </div>
      </mat-drawer>
    </mat-drawer-container>
    <!-- content container -->
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 offset-sm-2">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>